html,
body {
    box-sizing: border-box;
    height: 100%;
    min-height: 100%;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}
a:hover {
    color: #535bf2;
}

body {
    margin: 0;
    min-height: 100vh;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background: #248277;
    cursor: pointer;
    transition: all 0.3s;
    color: #fff;
    outline: none;
}
button:hover {
    background: #14746f;
}
button:focus,
button:focus-visible {
    outline: none;
}

#root {
    height: 100%;
    min-height: 100%;
    background-color: #f2f3f5;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
    a:hover {
        color: #747bff;
    }
}

.welcome {
    font-family: 'Caveat', cursive;
    font-optical-sizing: auto;
    font-style: normal;
}

.layout {
    padding: 30px;
    margin: 0; /* Removes default margin from the body */
    overflow: hidden;
    position: relative;
    height: 100vh;
    background-image: url('./assets/papersvg.svg');
    background-size: cover; /* Ensures the image covers the entire area while maintaining aspect ratio */
    background-position: center; /* Centers the image within the element */
    background-repeat: no-repeat; /* Prevents the image from repeating */
}

.check-form {
    width: 100%;
    padding: 14px;
    background-color: #fff;
    display: flex;
    align-self: stretch;
    gap: 14px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
}

.check-form input {
    border-radius: 8px;
    border: 1px solid #c4c8cc;
    height: 100%;
    min-height: 100%;
    flex: 1 1 100%;
    padding: 12px 14px;
    font-size: 20px;
    height: 52px;
    outline: none;
    transition: all 0.3s;
}

.check-form button {
    flex: 0 0 160px;
    font-size: 20px;
}

input:hover {
    border: 1px solid #aaaeb3;
}

input:focus {
    border: 1px solid #aaaeb3;
    outline: none;
}

.question-title {
    text-align: center;
    margin-bottom: 32px;
    font-size: 32px;
    padding: 18px;
    background: #fff;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.first-screen {
    height: 100vh;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.hb-text {
    padding: 18px;
    background: #faebeb;
}

.hb-text h3 {
    font-size: 32px;
    font-weight: 700;
}

.main-photo {
    height: 100vh; /* Sets the height of the body to 100% of the viewport height */
    margin: 0; /* Removes default margin from the body */
    overflow: hidden; /* Prevents scrolling if content exceeds viewport height */
    background-image: url('./assets/main-photo2.jpg');
    background-size: cover; /* Ensures the image covers the entire area while maintaining aspect ratio */
    background-position: center; /* Centers the image within the element */
    background-repeat: no-repeat; /* Prevents the image from repeating */
}

.info-box {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 23px;
}

.info {
    display: grid;
    grid-template-columns: 190px auto;
}

.info-title {
    font-weight: 600;
}

.second-screen {
    padding: 40px;
    height: 100vh;
    margin: 0;
    display: flex;
    place-items: center;
}

.second-screen .text {
    text-align: center;
    font-size: 48px;
}

.third-screen {
    position: relative;
    height: 100vh;
    /* padding: 30px; */
    margin: 0; /* Removes default margin from the body */
    overflow: hidden; /* Prevents scrolling if content exceeds viewport height */
    background-image: url('./assets/gifr.jpg');
    background-size: cover; /* Ensures the image covers the entire area while maintaining aspect ratio */
    background-position: center; /* Centers the image within the element */
    background-repeat: no-repeat; /* Prevents the image from repeating */
}

.third-screen .text {
    padding: 20px;
    text-align: center;
    font-size: 48px;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(0, 0, 0, 0.3);
    color: #fff;
    text-shadow: 2px 2px black;
}

.third-screen button {
    font-size: 36px;
    margin: 0 auto;
    width: 300px;
    margin-top: 32px;
    position: absolute;
    top: 72%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ab9871;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
        rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.third-screen button:hover {
    background-color: #857250;
    transition: all 0.3s ease-in-out;
    top: 73%;
}

.instruction {
    padding: 50px;
}

.instruction .text {
    font-size: 32px;
    text-align: center;
}

.instruction button {
    font-size: 30px;
    margin: 0 auto;
    width: 300px;
    margin-top: 32px;
    position: absolute;
    top: 72%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.answer-photo {
    background-size: cover; /* Ensures the image covers the entire area while maintaining aspect ratio */
    background-position: center; /* Centers the image within the element */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    width: 100%;
    margin-bottom: 32px;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    background-size: contain;
}

.answer-photo-1 {
    background-image: url('./assets/home-phone.jpg');
}

.answer-photo-2 {
    background-image: url('./assets/yellow-fura.png');
}

.answer-photo-3 {
    background-image: url('./assets/sarcasm.jpg');
}

.answer-photo-4 {
    background-image: url('./assets/buh.jpg');
}

.answer-photo-5 {
    background-image: url('./assets/lineage.jpg');
}

.answer-photo-6 {
    background-image: url('./assets/alen.jpg');
}

.answer-photo-7 {
    background-image: url('./assets/kruzheva.jpg');
}

.answer-photo-8 {
    background-image: url('./assets/taison.png');
}

.answer-photo-9 {
    background-image: url('./assets/mirmi.jpg');
}

.answer-photo-10 {
    background-image: url('./assets/biser.png');
}

.answer-photo-11-q {
    background-image: url('./assets/plan-black.png');
    min-height: 500px;
}

.answer-photo-11 {
    background-image: url('./assets/plan.png');
}

.answer-photo-12 {
    background-image: url('./assets/arbuz.jpg');
}

.answer-photo-dombai {
    background-image: url('./assets/dombai.jpg');
}

.answer {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100%;
    min-height: 100%;
}

.answer button {
    font-size: 20px;
    width: 200px;
    margin-left: auto;
}

.questions {
    min-height: 100%;
    height: 100%;
}
